.active_table
  .row.active_table_row
    %h4.columns.small-6.medium-3.large-3.skinny-head Market Name
    <!-- %h4.columns.small-4.medium-2.large-2 City/Distance -->
    %h4.columns.small-4.medium-2.large-2 Order Deadline
    <!-- %h4.columns.small-5.medium-3.large-3 Description
    %h4.columns.small-1.medium-1.large-1 Payment -->
    %h4.columns.small-1.medium-1.large-1
  %hub.active_table_node.row{"ng-repeat" => "hub in #{enterprises}Filtered = (#{enterprises} | filter:filterExpression | taxons:activeTaxons | properties:activeProperties:'distributed_properties' | shipping:shippingTypes | showHubProfiles:show_profiles | orderBy:['-active', '+distance', '+orders_close_at'])",
  "ng-class" => "{'is_profile' : hub.category == 'hub_profile', 'closed' : !open(), 'open' : open(), 'inactive' : !hub.active, 'current' : current()}",
  "ng-controller" => "HubNodeCtrl",
  id: "{{hub.hash}}"}
    .small-12.columns
      = render 'skinny'
      = render 'fat'

  = render 'shared/components/enterprise_no_results', enterprises: "#{enterprises}Filtered"
