.row.active_table_row{"ng-if" => "hub.is_distributor", "ng-click" => "toggle($event)", "ng-class" => "{'closed' : !open(), 'is_distributor' : producer.is_distributor}"}
  .columns.small-6.medium-3.large-3
    %a.hub{"ng-href" => "{{::hub.path}}", "ng-class" => "{primary: hub.active, secondary: !hub.active}", "ofn-change-hub" => "hub", "data-is-link" => "true"}
      %i{ng: {class: "::hub.icon_font"}}
      %span.margin-top.hub-name-listing{"ng-bind" => "::hub.name | truncate:40"}


    <!-- %div.margin-top{"ng-bind" => "::hub.address.city", "ng-if" => "hub.distance == null"} -->
    <!-- %div.margin-top{"ng-if" => "hub.distance != null && hub.distance > 0"} {{ (hub.distance / 1000) * #{ENV['KMS_TO_MILES']} | number:2 }} miles -->

  .columns.small-5.medium-2.large-2
    %div.margin-top{"ng-bind" => "::hub.orders_close_at | date_in_words"}


    <!-- %div.margin-top{"ng-bind" => "::hub.description"} -->

    <!-- %div.margin-top Cash -->

  .columns.small-1.medium-3.large-3.text-right{"ng-if" => "::!hub.active"}
    %a.hub.open_closed{"ng-href" => "{{::hub.path}}", "ng-class" => "{primary: hub.active, secondary: !hub.active}", "ofn-change-hub" => "hub"}
      %i.ofn-i_032-closed-sign
      %span.margin-top{ ng: { if: "::current()" } }
        %em= t :hubs_shopping_here
      %span.margin-top{ ng: { if: "::!current()" } }
        = t :hubs_orders_closed

  .columns.small-2.medium-1.large-1.text-right
    %span.margin-top
      %i{"ng-class" => "{'ofn-i_005-caret-down' : !open(), 'ofn-i_006-caret-up' : open()}"}

.row.active_table_row{"ng-if" => "!hub.is_distributor", "ng-class" => "closed"}
  .columns.small-12.medium-6.large-5.skinny-head
    %a.hub{"ng-click" => "openModal(hub)", "ng-class" => "{primary: hub.active, secondary: !hub.active}"}
      %i{ng: {class: "hub.icon_font"}}
      %span.margin-top.hub-name-listing{"ng-bind" => "::hub.name | truncate:40"}

  .columns.small-4.medium-2.large-2
    %span.margin-top{"ng-bind" => "::hub.address.city"}
  .columns.small-2.medium-1.large-1
    %span.margin-top{"ng-bind" => "::hub.address.state_name | uppercase"}

  .columns.small-6.medium-3.large-4.text-right
    %span.margin-top{ ng: { if: "::!current()" } }
      %em= t :hubs_profile_only
