- if @order.shipping_method.andand.require_ship_address
  / Delivery details
  %p.callout
    %strong
      - if @order.shipping_method.andand.name
        #{@order.shipping_method.name.html_safe}
      - else
        = t :email_shipping_delivery_details

  - if @order.order_cycle.andand.pickup_time_for(@order.distributor)
    %h4
      = t :email_shipping_delivery_time
      %strong #{@order.order_cycle.pickup_time_for(@order.distributor)}
    - if @order.shipping_method.andand.description
      %p
        %em #{@order.shipping_method.description.html_safe}
    %br &nbsp;

- else
  / Collection details
  %p.callout
    %strong
      - if @order.shipping_method.andand.name
        #{@order.shipping_method.name.html_safe}
      - else
        = t :email_shipping_collection_details

  - if @order.order_cycle.andand.pickup_time_for(@order.distributor).present?
    %h4
      = t :email_shipping_collection_time
      %strong #{@order.order_cycle.pickup_time_for(@order.distributor)}

  - if @order.shipping_method.andand.description.present?
    %p
      %em #{@order.shipping_method.description.html_safe}
      %br &nbsp;

  - if @order.order_cycle.andand.pickup_instructions_for(@order.distributor).present?
    %p
      %strong
        = t :email_shipping_collection_time
      %br
      #{@order.order_cycle.pickup_instructions_for(@order.distributor)}
