%navigation{ 'ng-controller' => 'FarmersMarketSubscribeCtrl' }
  %distributor.details.row
    .small-12.medium-6.large-6.columns
      #distributor_title
        - if current_distributor.logo?
          %img.left{src: current_distributor.logo.url(:thumb)}
        %h3
          = current_distributor.name
          %button{ class: 'button tiny', 'ng-disabled' => 'isDisabled', 'ng-click' => "subscribe(#{current_distributor.id}, #{current_spree_user.present?})", 'ng-style' => 'color' } {{subscribe_text}}
        %location= current_distributor.address.city
        / Will this needs to be a drop-down to choose either pick-up point or delivery once shipping methods are implemented
    .small-12.medium-6.large-6.columns
      = render partial: "shopping_shared/order_cycles"
  %div{ 'class' => 'collect_email_popup ng-hide', 'ng-hide' => "hideEmailPopup" }
    %form{ 'class' => 'email_popupbox', 'ng-submit' => 'emailSubmit()' }
      %h4.text-center{'style'=>'padding: 5px; border-bottom: 1px solid #EEE;'}
        Subscribe to Farmers Market
        %a{'class'=> 'subscribe_close_btn', 'ng-click'=>"closeSubscrbe()"}
          %i.ofn-i_009-close
      %input{'type' => 'email', 'ng-model' => 'email', 'pattern' => '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$', 'placeholder' => 'Enter email address', 'required' => true, 'style' => 'width: 300px; margin: 30px auto;'}
      %div.text-center
        %button.text-center.tiny Subscribe


= render partial: "shopping_shared/tabs"
