- content_for(:title) do
  = t :about_us_title

#panes
  #sell.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :about_us_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :sell_motivation

  #sell-detail.pane
    .row
      .small-12.medium-12.columns.text-center
        %h3= t :about_us_ffw
        %p
          = t :about_us_detail

= render "shared/footer"
